* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #D5D4D2;
    color: $clr1;
}

html {
    font-family: GothamLight;
    line-height: 1.6;
    color: $clr1;
}

body {
    max-width: 100%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: GothamBold;
    line-height: 1;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: $clr1;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  
  *::-webkit-scrollbar-track {
    background: #d9d9d9;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #a6a5a5;
  }
  