@font-face {
    font-family: GothamBold;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1667740690/Fiverr-Sprint-4/imgs/fonts/gotham/Gotham-Bold_sls4x2.otf);
}

@font-face {
    font-family: GothamLight;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1667740690/Fiverr-Sprint-4/imgs/fonts/gotham/Gotham-Light_h89mwo.otf);
}
